.login-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
}

.login-form label {
  display: block;
  margin: 30px auto;
}

.login-form span {
  display: block;
  margin-bottom: 6px;
}

.login-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  border: 1px solid #000;
  border-radius: 5px;
}

.bad-login input {
  border: 1px solid red;
}

.bad-login button {
  border-color: red;
  color: red;
}

.bad-login button:hover {
  border-color: green;
}
